<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>sqlitebread</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>

<body>
  <div class="container">
    <form>
      <div class="form-group row">
        <label class="col-2 col-form-label">
          <input class="form-check-input" type="checkbox">ID
        </label>
        <div class="col-10">
          <input class="form-control" type="text" placeholder="ID" id="example-text-input">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">
          <input class="form-check-input" type="checkbox">String
        </label>
        <div class="col-10">
          <input class="form-control" type="text" placeholder="String" id="example-text-input">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">
          <input class="form-check-input" type="checkbox">Integer
        </label>
        <div class="col-10">
          <input class="form-control" type="search" placeholder="Integer" id="example-search-input">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">
          <input class="form-check-input" type="checkbox">Float
        </label>
        <div class="col-10">
          <input class="form-control" type="text" placeholder="Float" id="example-email-input">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">
          <input class="form-check-input" type="checkbox">Date
        </label>
        <div class="col-10">
          <input class="form-control" type="text" placeholder="start date" id="example-email-input">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label"></label>
        <div class="col-10">
          <input class="form-control" type="text" placeholder="end date" id="example-email-input">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">
          <input class="form-check-input" type="checkbox">Boolean
        </label>
        <div class="col-10">
          <select class="custom-select">
            <option selected>Choose the boolean ...</option>
            <option value="1">True</option>
            <option value="2">False</option>
          </select>
        </div>
      </div>
      <div><br></div>
      <button type="submit" class="btn btn-primary">search</button>
      <div><br></div>
    </form>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">String</th>
          <th scope="col">Integer</th>
          <th scope="col">Date</th>
          <th scope="col">Boolean</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Sukarman</td>
          <td>30</td>
          <td>2018-05-05</td>
          <td>False</td>
          <td><a href="edit" button type="submit" class="btn btn-primary">Edit</button>
              <a href="delete" class="btn btn-danger" style="margin:5px;">Delete</a>
          </td>
        </tr>
        <tr>
        <th scope="row">1</th>
        <td>Sukarman</td>
        <td>30</td>
        <td>2018-05-05</td>
        <td>False</td>
        <td><a href="edit" button type="submit" class="btn btn-primary">Edit</button>
            <a href="delete" class="btn btn-danger" style="margin:5px;">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
    <a href="add" button type="submit" class="btn btn-primary">ADD</a>
  </div>
</body>

</html>